/* Upper SECTION */ 
.Upper-section { 
  height: 320px; 
   background: linear-gradient(135deg , #02194cff 0%, #1d4ed8 100% );
  display: flex; 
  align-items: center; 
  color: white; padding: 0 40px;} 

.Upper-section .container { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; width: 100%;
  max-width: 1100px;} 
  
.Upper-title { 
  font-size: 48px; 
  font-weight: 900; 
  margin-bottom: 20px; 
  text-transform: uppercase;} 
  
.Upper-subtitle { 
  font-size: 18px; 
  margin-bottom: 30px; 
  line-height: 1.6;} 
  
.Upper-image img {
  width: 250px; 
  height: auto;}

  @media (max-width: 768px){ 
  .Upper-section .container { flex-direction: column; text-align: center; } 
  .Upper-image { margin-top: 20px; } 
  .Upper-title { font-size: 36px; }
  .Upper-subtitle { font-size: 16px; } }
